<div id="main" class="span-17 first ">
	<div id="votes" class="span-6 push-1 first border prepend-top">
	<h2>Votes</h2>
	
	<% if @vote_date < Vote.last_date %>
		<%= link_to "Next", root_path( :vote_date => Date.parse( @vote_date ).tomorrow.to_s(:db), :status_date => @status_date ) %>
	<% end %>
	<%= link_to "Previous", root_path( :vote_date => Date.parse( @vote_date ).yesterday.to_s(:db), :status_date => @status_date ) %>
	
	<p><%= @vote_date %></p>
	<ul>
		<% @votes.each do |vote| %>
			<li class="vote">
			  <% unless vote.bill.nil? %>
          <%= link_to "#{vote.bill.number}", bill_path( vote.bill ) %>
				<% end %>
        <%= vote.description %> (<%= vote.date.strftime( '%l:%M %p' ) %>)<br />
			   Yea:<%= vote.yea %> Nay:<%= vote.nay %>
			</li>
		<% end %>
	</ul>
		<p class="endy"> >>> end feed <<< </class> </p>
</div>

<div id="status" class="span-8 push-2 prepend-top ">
	<h2>Bill Status</h2>
	
	<% if @status_date < Status.last_date %>
		<%= link_to "Next", root_path( :status_date => Date.parse( @status_date ).tomorrow.to_s(:db), :vote_date => @vote_date ) %>
	<% end %>
	<%= link_to "Previous", root_path( :status_date => Date.parse( @status_date ).yesterday.to_s(:db), :vote_date => @vote_date ) %>
	
	<p><%= @status_date %></p>
	<ul>
	<% @events.each do |event| %>
		<li class="event">
    <%= link_to "#{event.bill.number}", bill_path( event.bill ) %>
      <%= event.bill.short_title %><br />
      <%= event.status_code.description %>
			(<%= event.status_date.strftime('%Y-%m-%d') %>)
		</li>
		
	<% end %>
	</ul>
	<p class="endy"> >>> end feed <<< </class> </p>
</div>
</div>

<div id="feeds" class=" span-6 last">
		<div id="senate_rss">
			<h3>Senate Press Releases</h3>
			<ul>
			<% @senate_rss.each do |item| %>
				<li class="rss senate"><a href="<%= item.url %>"><%= item.title %></a><br />(<%= item.published_at %>)</li>
			<% end %>
			</ul>
		</div>

		<div id="house_rss">
			<h3>House Press Releases</h3>
			<ul>
			<% @house_rss.each do |item| %>
				<li class="rss house"><a class="rss house" href="<%= item.url %>"><%= item.title %></a><br />(<%= item.published_at %>)</li>
			<% end %>
			</ul>
		</div>
</div>


