<div id="votes" class="span-6 border">
	<h2>Votes</h2>
	<ul>
	<% @votes.each do |vote| %>
		<li class="vote">
		   <%= vote.bill.number %> <%= vote.date.to_s %> <%= vote.description %><br />
		   Yea: <%= vote.yea %> Nay: <%= vote.nay %>
		</li>
	<% end %>
	</li>
</div>

<div id="status" class="span-10 prepend-1">
	<h2>Bill Status</h2>
	<ul>
	<% @events.each do |event| %>
		<li class="event">
			<%= event.bill.number %>
			<%= event.bill.title %>: <%= event.status_code.description %><br />
			(<%= event.status_date.to_s %>)
		</li>
	<% end %>
	</ul>
</div>

<div class="span-6 last box">
	<div id="senate_rss">
		<h3>Senate Press Releases</h3>
		<ul>
		<% @senate_rss.each do |item| %>
			<li class="rss senate"><a href="<%= item.url %>"><%= item.title %></a><br />(<%= item.published_at %>)</li>
		<% end %>
		</ul>
	</div>

	<div id="house_rss">
		<h3>House Press Releases</h3>
		<ul>
		<% @house_rss.each do |item| %>
			<li class="rss house"><a class="rss house" href="<%= item.url %>"><%= item.title %></a><br />(<%= item.published_at %>)</li>
		<% end %>
		</ul>
	</div>
</div>
