<section id="votes" class="span-5 push-1 first border prepend-top">
	<header>
		<h3>Most Recent Votes</h3>
	</header>
	<ul>
	<% @bills.each do |bill| %>
		
    <% if bill.votes_most_recent %>
			<li class="vote">
				<%= link_to "#{bill.number}", bill_path( bill ) %>
				<%= link_to "#{bill.votes_most_recent.description}", vote_path( bill.votes_most_recent.id ) %> &nbsp;
				<span class="tstamp">(<%= bill.votes_most_recent.date.strftime( '%Y-%m-%d' ) %>)</span>
				<br/>
				<strong>Yea: <%= bill.votes_most_recent.yea %> Nay: <%= bill.votes_most_recent.nay %></strong>
			</li>
    <% end %>
	<% end %>
	</ul>
</section>

<section id="status" class="span-11 push-2 prepend-top last">
	<header>
		<h3>Most Recent Status Changes</h3>
	</header>
	<ul>
		<% @bills.each do |bill| %>
		<li class="event">
	    	<%= link_to "#{bill.number}", bill_path( bill ) %>
		    <%= bill.statuses_most_recent.status_code.description %>
		    <span class="tstamp">(<%= bill.statuses_most_recent.status_date.strftime('%Y-%m-%d') %>)</span><br />
		    <%= bill.short_title %>
					(<%= bill.primary_sponsor_name %>
					 <%= bill.primary_sponsor_party %> -
					 <%= bill.primary_sponsor_district %>)
		</li>
	
		<% end %>
	</ul>
</section>

<div>
	
<div id="feeds" class="span-5 last prepend-top"></div>
		
		<aside id="feedbox" class="span-5 last">
		
			<section id="senate_rss">
				<header>
					<h3>Senate Press Releases</h3>
				</header>
					<ul>
						<% @senate_rss.each do |item| %>
							<article>
								<li class="rss senate"><a href="<%= item.url %>"><%= item.title %></a><br />(<%= item.published_at %>)</li>
								</article>
						<% end %>
					</ul>
			</section>

			<section id="house_rss">
				<header>
					<h3>House Press Releases</h3>
				</header>
				<ul>
					<% @house_rss.each do |item| %>
						<article>
							<li class="rss house"><a class="rss house" href="<%= item.url %>"><%= item.title %></a><br />(<%= item.published_at %>)</li>
							</article>
					<% end %>
				</ul>
	
			</section>
	
		</aside>
	
	
	
</div>


