<section id="bindex" class="span-20 push-2 first last prepend-top">
	<header><h2> All Watched Bills </h2></header>
	<% @bills.each do |bill| %>
		<article>
		  	<header><h3><%= link_to "#{bill.number}", bill_path( bill ) %> <%= bill.short_title %></h3></header>
			<p><%= bill.title %></p>
			<p><strong>Current status: </strong><%= bill.b_status %> <span class="tstamp">(<%= bill.current_status_date %>)</span></p>
			<hr>
		</article>
	<% end %>
</section>

