<div id="main" class="span-19 push-1 first last">
<% @bills.each do |bill| %>
  <p>
  <%= link_to "#{bill.number}", bill_path( bill ) %> <%= bill.short_title %><br />
    <%= bill.title %><br />
    Current status: <%= bill.b_status %> (<%= bill.status_date %>)
  </p>
<% end %>
</div>
