

	<div id="bindex" class="span-20 push-2 first last prepend-top">
			<h2> All Watched Bills </h2>
<% @bills.each do |bill| %>
  
  <h3><%= link_to "#{bill.number}", bill_path( bill ) %> <%= bill.short_title %></h3>
    <p><%= bill.title %></p>
    <p><strong>Current status: </strong><%= bill.b_status %> <span class="tstamp">(<%= bill.current_status_date %>)</span></p>
<hr>
  
<% end %>
</div>

