<div id="main" class="span-19 push-1 first last">
<% @bills.each do |bill| %>
  <p>
  <h4><%= link_to "#{bill.number}", bill_path( bill ) %> <%= bill.short_title %></h4>
    <p><%= bill.title %></p>
    <p>Current status: <%= bill.b_status %> (<%= bill.current_status_date %>)</p>
  </p>
<% end %>
</div>
