<section id="search_form" class="span-15 prepend-top push-5 first last">
  <%= form_for @search, :url => bills_path do |f| %>
		<section class="span-14 first last">
			<%= f.checks :my_watched_bills, [['Watched',current_user.id]] do |check| %>
				<%= check.box %> <%= check.label %>
			<% end %>
			<%= f.check_box :crossover_is_true %>
			<%= f.label :crossover_is_true, "Crossed over" %>

			<%= f.check_box :crossover_is_false %>
			<%= f.label :crossover_is_false, "Not crossed over" %>
		</section>
		
		<section id="seach_bill" class="span-7 first">
			<fieldset> <legend>Bill</legend>
				<%= f.label :btype_equals, "Type ", :class => ".label" %>
				<%= f.text_field :btype_equals, :size => 4, :class =>".text", :autofocus =>"true"%>
				
				<%= f.label :num_equals, "Number ", :class => ".label" %>
				<%= f.text_field :num_equals, :size => 4, :class =>".text" %>
			</fieldset>
		</section>
	
		<section id="search_citation" class="span-7 last">
			<fieldset><legend>Citation</legend>
				<%= f.label :code_title, "Title ", :class => ".label" %>
				<%= f.text_field :code_title_equals, :size => 4, :class =>".text" %>
				
				<%= f.label :code_chalter_equals, " Chapter " , :class => ".label"%>
				<%= f.text_field :code_chapter_equals, :size => 4, :class =>".text" %>
			</fieldset>
		</section>

		<section id="search_sponsor" class="span-14 first last">
			<fieldset> <legend>Primary Sponsor </legend>
				<%= f.label :sponsor_name, "Name " , :class => ".label"%>
				<%= f.text_field :sponsor_name, :class =>".text"%>
				
				<%= f.label :sponsor_district, " District ", :class => ".label" %>
				<%= f.text_field :sponsor_district, :size => 4, :class =>".text" %>
				
				<%= f.label :sponsor_party, " Party ", :class => ".label" %>
				<%= f.text_field :sponsor_party, :size => 4, :class =>".text" %>
			</fieldset>
		</section>
		
		<section id="search_status" class="span-14 first last">
			<fieldset><legend>Bill status</legend>
				<%= f.label :b_status_contains, "Current status contains ", :class => ".label" %>
				<%= f.text_field :b_status_contains, :class =>".text" %>
				<br />
				<%= f.label :status_history, "Status history contains ", :class => ".label" %>
				<%= f.text_field :status_history, :class =>".text" %><br /><br/>
			</fieldset>
		</section>

		<section id="search_text" class="span-14 first last">
			<fieldset><legend>Text search</legend>
				<%= f.label :short_title_contains, :class => ".label"%>
				<%= f.text_field :short_title_contains, :class =>".text" %>
				<br />
				<%= f.label :title_contains, "Long title contains ", :class => ".label" %>
				<%= f.text_field :title_contains, :class =>".text" %>
				<br />
				<%= f.label :topic_includes, :class => ".label" %>
				<%= f.text_field :topic_includes, :class =>".text" %>
			</fieldset>
		</section>

		<section id="search_submit" class="clear">
			<%= f.submit "Search" %>
		</section>
	<% end %>
</section>

