<div id="search_form" class="span-15 prepend-top push-1 first last">
  <%= form_for @search, :url => bills_path do |f| %>

<div  class=" span-4">

<%= f.label :btype_equals, "Bill type ", :class => ".label" %> <%= f.text_field :btype_equals, :size => 4, :class =>".text" %>
<br/>
<%= f.label :num_equals, "Bill number ", :class => ".label" %> <%= f.text_field :num_equals, :size => 4, :class =>".text" %>
<br />
		 <%= f.label :code_title, "Citation title ", :class => ".label" %> <%= f.text_field :code_title_equals, :size => 4, :class =>".text" %>
<br/>
    <%= f.label :code_chalter_equals, "Citation chapt. " , :class => ".label"%> <%= f.text_field :code_chapter_equals, :size => 4, :class =>".text" %><br />
	
</div>

 <div  class="span-10">
   

    <%= f.label :short_title_contains , :class => ".label"%> <%= f.text_field :short_title_contains, :class =>".text" %><br />

    <%= f.label :title_contains, "Long title contains ", :class => ".label" %> <%= f.text_field :title_contains, :class =>".text" %><br />

<%= f.label :b_status_contains, "Current status contains ", :class => ".label" %> <%= f.text_field :b_status_contains, :class =>".text" %><br /><br/>
</div>

<div  class=" span-14">
	<fieldset> <legend>Primary Sponsor </legend>
	<%= f.label :sponsor_name, "Name " , :class => ".label"%> <%= f.text_field :sponsor_name, :class =>".text"%>
    <%= f.label :sponsor_district, "District ", :class => ".label" %> <%= f.text_field :sponsor_district, :size => 4, :class =>".text" %>
    <%= f.label :sponsor_party, "Party ", :class => ".label" %> <%= f.text_field :sponsor_party, :size => 4, :class =>".text" %>
</fieldset>
</div>

<div class="clear">
    <%= f.submit "Search" %>
  <% end %>

</div>

