<div id="inside" class="span-22 push-1 first last">
	<% if flash[:notice] %>
		<div id="flash" class="flash notice span-21 first last"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:error] %>
		<div id="flash" class="flash error span-21 first last"><%= flash[:error] %></div>
	<% end %>

	<div id="hotnot" class="first">
		<% if @bill.is_watched_by_user?( current_user ) %>
			<%= link_to image_tag("bt_sm_unwatch.png", :mouseover =>"bt_sm_unwatch_hvr.png"), unhot_bill_path( @bill ), :alt=> 'Un-watch', :title => 'Un-watch', :class => 'watched'  %>
		<% else %>
			<%= link_to  image_tag("bt_sm_watch.png", :mouseover => "bt_sm_watch_hvr.png"), hot_bill_path( @bill ), :alt=> 'Watch', :title => 'Watch', :class => 'unwatched' %>
		<% end %>
	</div>
  
	<div id="billtitle" class="span-19 last">
		<h2><%= @bill.number %>: <%= @bill.short_title %></h2>
	</div>
	
	<section class="span-10 first">
		<p>
		<strong>Citation: </strong> Title <%= @bill.code_title %> Chapter <%= @bill.code_chapter %><br/>
		<strong>Current status: </strong><%= @bill.b_status %> (<%= @bill.current_status_date.strftime( '%Y-%m-%d' ) %>)<br />
		<strong>House committee:</strong> <%= @bill.house_committee_name %><br />
		<strong>Senate committee:</strong> <%= @bill.senate_committee_name %><br />
		</p>
  	</section>
	<div id="tags" class="span-6 last">
		<% form_tag tag_path( @bill ) do %>
			<%= hidden_field_tag :context, 'topic' %>
			<%= submit_tag "+Tag"%>
			<%= text_field_tag :tag %>
		<% end %>
		<p>
			<strong>Topic tags:</strong> <%= @bill.topic_list.join( ', ' ) %>
		</p>
	</div>

	<section id="bill_text" class="span-22 first last">
		<p><%= @bill.title %></p>
	</section>
</div>

<hr />

<section id="versions" class="span-5 prepend-1 first">
	<header><h3>Versions</h3></header>
	<ul>
	<% @bill.bill_versions.order_desc.each do |version| %>
		<li><a href="<%= version.url %>"><%= version.description %></a>
	<% end %>
	</ul>
	<br />
</section>

<section id="sponsors" class="span-5">
	<header><h3>Sponsors</h3></header>
	<ul>
	<% @bill.sponsorships.each do |sponsor| %>
		<li>
			<%= link_to sponsor.display_name, member_path( sponsor.member_id ) %>
			<%= sponsor.district_name %>
			(<%= sponsor.party %>)
			<% if sponsor.seq == 1 %>
				- primary
			<% end %>
		</li>
	<% end %>
	</ul>
	<br/>
</section>

<section id="status" class="span-8 ">
  <header><h3>Bill status</h3></header>
	<ul>
    <% @bill.statuses.each do |status| %>
      <li><span class="tstamp"><%= status.status_date.strftime( '%Y-%m-%d' ) %> </span> <%= status.status_code.description %></li>
    <% end %>
  </ul>
 
</section>

<section id="votes" class="span-5 last">
 <header> <h3>Votes</h3></header>
  <ul>
    <% @bill.votes.each do |vote| %>
      <li>
	    	<span class="tstamp"><%= vote.date.strftime( '%Y-%m-%d' ) %> </span>
        <%= link_to "#{vote.description}", vote_path( vote.id ) %><br />
 				<strong> Yea: <%= vote.yea %> Nay: <%= vote.nay %> </strong></li>
    <% end %>
  </ul>
</section>
