<div id="title" class="span-22 push-1 first last">
	<% if flash[:notice] %>
		<p class="flash notice"><%= flash[:notice] %></p>
	<% end %>
	<% if flash[:error] %>
		<p class="flash error"><%= flash[:error] %></p>
	<% end %>

	<% if @bill.is_hot? %>
		<%= link_to "Un-tag as hot", unhot_bill_path( @bill ) %>
	<% else %>
		<%= link_to "Tag as hot", hot_bill_path( @bill ) %>
	<% end %>
  
	<h2><%= @bill.number %>: <%= @bill.short_title %></h2>
<p><strong>Citation: </strong> Title <%= @bill.code_title %> Chapter <%= @bill.code_chapter %>
	<br/>
<strong>Current status: </strong><%= @bill.b_status %> (<%= @bill.current_status_date.strftime( '%Y-%m-%d' ) %>)
  <p><%= @bill.title %></p>

<hr />
</div>
<div id="sponsors" class="span-6 prepend-2 first">
	
	<h3>Sponsors</h3>
	<ul>
	<% @bill.sponsorships.each do |sponsor| %>
		<li>
			<%= link_to sponsor.display_name, member_path( sponsor.member_id ) %>
			<%= sponsor.district_name %>
			(<%= sponsor.party %>)
			<% if sponsor.seq == 1 %>
				- primary
			<% end %>
		</li>
	<% end %>
	</ul>
	<br/>
</div>
<div id="status" class="span-7 prepend-1 ">

  <h3>Bill status</h3>
	<ul>
    <% @bill.statuses.each do |status| %>
      <li><span class="tstamp"><%= status.status_date.strftime( '%Y-%m-%d' ) %> </span> <%= status.status_code.description %></li>
    <% end %>
  </ul>
  </p>
<br/>
</div>
<div id="votes" class="span-6 prepend-1 last">
	
  <h3>Votes</h3>
  <ul>
    <% @bill.votes.each do |vote| %>
      <li><span class="tstamp"><%= vote.date.strftime( '%Y-%m-%d' ) %> </span><%= vote.description %> <strong> Yea: <%= vote.yea %> Nay: <%= vote.nay %> </strong></li>
    <% end %>
  </ul>
<br/>
</div>

