<div id="title" class="span-22 push-1 first last">
  <h2><%= @bill.number %>: <%= @bill.short_title %></h2>
<p>Citation: Title <%= @bill.code_title %> Chapter <%= @bill.code_chapter %></p>
<p>Current status: <%= @bill.b_status %> (<%= @bill.current_status_date.strftime( '%Y-%m-%d' ) %>)
  <p><%= @bill.title %></p>
</div>
<div id="sponsors" class="span-22 push-1 first last">
	<hr />
	<h3>Sponsors</h3>
	<ul>
	<% @bill.sponsorships.each do |sponsor| %>
		<li>
			<%= link_to sponsor.display_name, member_path( sponsor.member_id ) %>
			<%= sponsor.district_name %>
			(<%= sponsor.party %>)
			<% if sponsor.seq == 1 %>
				- primary
			<% end %>
		</li>
	<% end %>
	</ul>
</div>
<div id="status" class="span-10 push-1 first">
	<hr />
  <h3>Bill status</h3>
    <% @bill.statuses.each do |status| %>
      <li><%= status.status_date.strftime( '%Y-%m-%d' ) %> <%= status.status_code.description %></li>
    <% end %>
  </ul>
  </p>
</div>
<div id="votes" class="span-10 push-1 top last">
	<hr />
  <h3>Votes</h3>
  <ul>
    <% @bill.votes.each do |vote| %>
      <li><%= vote.date.strftime( '%Y-%m-%d' ) %> <%= vote.description %> Yea:<%= vote.yea %> Nay:<%= vote.nay %></li>
    <% end %>
  </ul>
</div>

