<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= "AJC LegiTracker | #{@title}" %></title>
  <%= csrf_meta_tag %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Orbitron', :media =>'screen'%>
</head>
<body>
	<div class="container">
	  <header id="header"class="span-24 first last">
      <div id="logo" class="span-16 first">
		    <h1> <%= link_to 'LegiTracker', root_url %></h1>
      </div>
      <div id="search" class="span-8 last">
        <%= form_for @search, :url => bills_path, :html => {:method => :get} do |f| %>
          <%= f.text_field :number_or_short_title_or_title_or_b_status_contains %><%= f.submit 'Go' %>
        <% end %>
        <%= link_to "Advanced Search", search_path, :class => 'advanced_search' %>
      </div>
	  </header>
	
	  <nav>
			<ul>
				<li><%= link_to "Watched bills", root_path %></li>
				<li><%= link_to "Daily status report", statuses_path %></li>
				<li><%= link_to "Members", '#' %></li>
				<li><%= link_to "Committees", '#' %></li>
			</ul>
		</nav>
		
	  <section>
			<div id="content" class="span-24 first last ">
		    <%= yield %>
			</div>
	  </section>
	
	  <footer id="footer" class="span-24 first last">
			<p>Copyright &copy;<%= Date.today.year %></p>
	  </footer>
	</div>
</body>
</html>
