<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= "AJC LegiTracker | #{@title}" %></title>
  <%= csrf_meta_tag %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body>
	<div class="container">
	  <header class="span-24 box last">
			<h1>AJC LegiTracker</h1>
	  </header>
	  <section>
	    <%= yield %>
	  </section>
	  <footer class="span-24 last">
	  </footer>
	</div>
</body>
</html>
