<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= "AJC LegiTracker | #{@title}" %></title>
  <%= csrf_meta_tag %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Orbitron', :media =>'screen'%>



</head>
<body>
	<div class="container">
	  <header id="header"class="span-24 first last">
      <div id="logo" class="span-18 first">
		    <h1>LegiTracker</h1>
      </div>
      <div id="search" class="span-6 last">
        <% form_tag :action => 'search', :controller => :bills do %>
          <%= text_field_tag :search %><%= submit_tag 'Go' %>
        <% end %>
      </div>
	  </header>
	  <section>
		<div id="content" class="span-24 first last ">
	    <%= yield %>
	</div>
	  </section>
	  <footer id="footer" class="span-24 first last">
		<p>Copyright &copy;<%= Date.today.year %></p>
	  </footer>
	</div>
</body>
</html>
