<div id="title" class="sapn-22 push-1 first last">
	<h2><%= @member.name %> <span class="memid"><%= @member.seat %> </span></h2>
</div>
<div id="sponsorships" class="span-22 push-1 first last">
	<% if @member.sponsorships.primary.count > 0 %>
		<h3>Bills sponsored: Primary</h3>
		<table>
			<% @member.sponsorships.primary.each do |primary| %>
				<tr><td width="45px">
					<%= link_to primary.bill.number, bill_path( primary.bill.id ) %>
					</td><td><%= primary.bill.short_title %>
				</td></tr>
			<% end %>
		</table>
		<% end %>
	<% if @member.sponsorships.secondary.count > 0 %>
		<h3>Bills sponsored: Secondary</h3>
		<table
			<% @member.sponsorships.secondary.each do |secondary| %>
			
				
					<tr>
					<td width="45px"><%= link_to secondary.bill.number, bill_path( secondary.bill.id) %> </td><td> <%= secondary.bill.short_title %></td>
					</tr>
					
			
			<% end %>
		</table>
	<% end %>
</div>

